@import "~style/ColorPalette.modules.css";

.main
{
    display: flex;
    width: 100vw;
    background-color: var(--light-gray-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/** Trick to have a better experience in iOS. Should be improved **/

/* iOS Devices */
@supports (-webkit-touch-callout: none)
{
    .main
    {
        height: -webkit-fill-available;
    }
}

/* Other */
@supports not (-webkit-touch-callout: none)
{
    .main
    {
        height: 100vh;
    }
}

.grid
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gridBorder
{
    position: absolute;
    border-style: solid;
    border-color: var(--light-gray-blue);
    pointer-events: none;
}

.spinner
{
    position: absolute;
    top: 4vh;
    right: 4vw;
}

.spinner_on
{
    opacity: 1;
    transition: 200ms ease-in-out;
}

.spinner_off
{
    opacity: 0;
    transition: 400ms ease-out;
}

