@import "~style/ColorPalette.modules.css";

.main
{
    position: relative;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 200ms ease-in-out;
}

/* Show only in devices that supports hover
   in order to prevent a bad user experience */
@media (hover: hover)
{
    .main:hover
    {
        box-shadow: -1px 15px 14px 3px rgba(0, 0, 0, 0.5);
        position: relative;
    }
}


.icon
{
    position: relative;
    width: 100%;
    height: 100%;
}