@import "~style/ColorPalette.modules.css";

.main
{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win
{
    background-color: var(--green);
}

.lose
{
    background-color: var(--red);
}

.tie
{
    background-color: var(--light-gray);
}

.resultMessage
{

    font-family: 'Press Start 2P';
    font-size: 30px;
    color: var(--dark-blue);
    text-align: center;
}

.scoreMessage
{

    font-family: 'Press Start 2P';
    font-size: 20px;
    padding-top: 40px;
    color: var(--dark-gray-blue);
    text-align: center;
    margin-bottom: 10vh;
}

.button
{
    margin: 3vh;
}