@import "~style/ColorPalette.modules.css";

.main
{
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--nearly-white);
    text-shadow: -1px -1px black, 1px 1px white;
    color: var(--dark-gray-blue);
    border-radius: 7px;
    box-shadow: 0 8px gray;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-size: 30px;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.main:active
{
    box-shadow: none;
    position: relative;
    top: 8px;
}