@import "~style/ColorPalette.modules.css";

.main
{
    display: flex;
    width: 100vw;
    background-color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/** Trick to have a better experience in iOS. Should be improved **/

/* iOS Devices */
@supports (-webkit-touch-callout: none)
{
    .main
    {
        height: -webkit-fill-available;
    }
}

/* Other */
@supports not (-webkit-touch-callout: none)
{
    .main
    {
        height: 100vh;
    }
}

.titleArea
{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

.title
{
    font-family: 'Press Start 2P';
    font-size: 3em;
    color: var(--nearly-white);
    font-weight: bold;
    text-align: center;
}

.buttonsArea
{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button
{
    margin-bottom: 10vh;
}

.languageSelector
{
}